name: build

on:
  release:
    types: [published]

# For GitHub-hosted runners, each job in a workflow runs in a fresh instance of
# a virtual environment.
jobs:
  build:
    runs-on: default-linux
    permissions:
      contents: read
      packages: write
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
       with:
         sparse-checkout: |
           Dockerfile

     - name: Log in to the Container registry
       uses: docker/login-action@v3
       with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}

     - name: Extract metadata (tags, labels) for Docker
       id: meta
       uses: docker/metadata-action@v5
       with:
         images: ghcr.io/haveacry/actions-runner

     - name: Build and push Docker image
       uses: docker/build-push-action@v5
       with:
         context: .
         push: true
         tags: ${{ steps.meta.outputs.tags }}
         labels: ${{ steps.meta.outputs.labels }}
#         build-args: |
#           HTTP_PROXY=${{ env.http_proxy }}
#           HTTPS_PROXY=${{ env.https_proxy }}
#           NO_PROXY=${{ env.no_proxy }}

